.App {
  text-align: center;
}

.top-bar {
  text-align: left;
  height: 90px;
  border-bottom: 1px solid black;
  line-height: 2;
  margin: 0 auto;
  font-size: 40px;
  font-weight: bold;
  box-sizing: border-box;
  padding-left: 20px;
}

.histogram-container {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  border: 1px solid red;
  padding: 10px;
}

.selector-container {
  height: 130px;
  width: 50%;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
}

.selector-container label {
  font-size: 16px;
  font-weight: bold;
}

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

.x-axis-histogram {
  border: 1px solid red;
}