.App {
  text-align: center;
}

.top-bar {
  text-align: left;
  height: 90px;
  border-bottom: 1px solid black;
  line-height: 2;
  margin: 0 auto;
  font-size: 40px;
  font-weight: bold;
  box-sizing: border-box;
  padding-left: 20px;
}

.histogram-container {
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
  padding: 10px;
  height: 300px;
}

.selector-container {
  height: 130px;
  width: 50%;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
}

.selector-container label {
  font-size: 16px;
  font-weight: bold;
}

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

.x-axis-histogram {
  border: 1px solid red;
  height: 170px;
  width: 600px;
  padding: 5px;
}

.y-axis-histogram {
  border: 1px solid red;
  height: 170px;
  width: 600px;
  padding: 5px;
}

.scatterplot-container {
  text-align: left;
  text-decoration: underline;
  align-content: center;
  display: inline-block;
}

.scatter {
  align-content: center;
  height: 400px;
  width: 100%;
  border: 1px solid blue;
}

.scatter-title {
  text-decoration: underline;
  text-align: left;
  margin-left: 20px;
}